.app {
  margin-top: 30px;
}

.app__container {
  width: 900px;
  height: 600px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 5px 5px 0 rgba(211, 211, 211, 0.5),
    0 5px 5px 0 rgba(211, 211, 211, 0.5);
}

.app__container__top {
  padding: 50px;
  background-image: url("./assets/images/sky-gold.jpg");
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite alternate;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: lightskyblue;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.temperaturebanner {
  display: flex;
  justify-content: space-between;
}

.temperaturebanner__temperature {
  display: flex;
  flex-direction: column;
}

.degree {
  display: flex;
}

.degree__figure {
  font-size: 80px;
  margin-right: 15px;
}

.degree__symbol {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: solid 5px;
  border-radius: 50%;
}

.degree__measure {
  font-size: 80px;
}

/* .degree__seperator {
  font-size: 80px;
} */

.weather {
  align-self: center;
  font-size: 30px;
}

.temperaturebanner__city {
  font-size: 50px;
}

.otherfeatures {
  display: flex;
  margin-top: 20px;
}

.feature__humidity {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: solid 2px lightskyblue;
}

.feature__wind {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.feature__name {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature__figure {
  font-size: 20px;
}

.app__container__bottom {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.othercities {
  width: 200px;
  padding-right: 20px;
  border-right: solid 2px grey;
}

.othercities__singlelocation {
  display: flex;
  justify-content: space-between;
}

.othercities__city {
  margin-right: 10px;
}

.othercities__degree {
  display: flex;
}

.citydegree__figure {
  margin-right: 5px;
}

.citydegree__symbol {
  width: 4px;
  height: 4px;
  background-color: transparent;
  border: solid 2px black;
  border-radius: 50%;
}

img {
  width: 25px;
  height: 25px;
}

.forecast {
  width: 100%;
  margin-left: 20px;
}

.forecast__banner {
  display: flex;
  justify-content: space-between;
}