body {
  margin: auto;
  background-image: url("./assets/images/landscape.jpg");
  /* background-position: center; */
  /* background-size: cover; */
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite alternate;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
